# Ford used car analysis

Submitted by:
<br>Nabila Tajrin Bristy
<br>Dhaka, Bangladesh

#### Objective
This project performs Linear Regression, predict the 'Price' from the test set, and find the RMSE value from the actual test data and the predicted data of used Ford cars.

#### Variables
Model, year, price, transmission, mileage, fuelType, mpg, and engineSize.

#### Tasks:
- Load the data,
- Separating the numeric features and target variable,
- Split the original dataset into the train set (80%) and the test set (20%), 
- Perform Linear Regression and Predict the 'Price' from the test set, 
- Find the RMSE value from the actual test data and the predicted data.


#### References:
- Dataset source: https://www.kaggle.com/aishwaryamuthukumar/cars-dataset-audi-bmw-ford-hyundai-skoda-vw

### Import required libraries and packages

In [92]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from numpy import sqrt 

import pandas as pd
import sklearn
print(sklearn.__version__)

0.21.3

### Load the data

In [93]:
# read the ford.csv file 
df = pd.read_csv('ford.csv')

display(df.head(10))
print(df.shape)

     model  year  price transmission  mileage fuelType   mpg  engineSize
0   Fiesta  2017  12000    Automatic    15944   Petrol  57.7         1.0
1    Focus  2018  14000       Manual     9083   Petrol  57.7         1.0
2    Focus  2017  13000       Manual    12456   Petrol  57.7         1.0
3   Fiesta  2019  17500       Manual    10460   Petrol  40.3         1.5
4   Fiesta  2019  16500    Automatic     1482   Petrol  48.7         1.0
5   Fiesta  2015  10500       Manual    35432   Petrol  47.9         1.6
6     Puma  2019  22500       Manual     2029   Petrol  50.4         1.0
7   Fiesta  2017   9000       Manual    13054   Petrol  54.3         1.2
8     Kuga  2019  25500    Automatic     6894   Diesel  42.2         2.0
9    Focus  2018  10000       Manual    48141   Petrol  61.4         1.0

(17964, 8)

### Separating the numeric features and target variable

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17964 entries, 0 to 17963
Data columns (total 8 columns):
model           17964 non-null object
year            17964 non-null int64
price           17964 non-null int64
transmission    17964 non-null object
mileage         17964 non-null int64
fuelType        17964 non-null object
mpg             17964 non-null float64
engineSize      17964 non-null float64
dtypes: float64(2), int64(3), object(3)
memory usage: 1.1+ MB

In [95]:
print(df.columns)

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'mpg',
       'engineSize'],
      dtype='object')

In [96]:
features = ['mileage', 'year', 'mpg', 'engineSize']
target = ['price']

X = df[features]
y = df[target]

print(X.shape, y.shape)

(17964, 4) (17964, 1)

### Split the original dataset into the train set (80%) and the test set (20%)

In [97]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(14371, 4) (3593, 4) (14371, 1) (3593, 1)

### Perform Linear Regression and Predict the 'Price' from the test set

In [98]:
model = LinearRegression()
model = model.fit(X_train, y_train)

### Prediction

In [99]:
y_pred = model.predict(X_test)
print(y_pred)

[[12511.62021941]
 [11728.1369248 ]
 [12146.83147139]
 ...
 [ 7682.61502627]
 [ 5954.1544702 ]
 [16941.0886637 ]]

In [100]:
print(y_test)

       price
1087   16700
9367    9690
4705   10999
10336  29350
8509   11250
...      ...
14866  13487
11183  15299
13788   5495
17265   5685
16043  16495

[3593 rows x 1 columns]

### Find the RMSE value from the actual test data and the predicted data

In [101]:
MSE = mean_squared_error(y_test, y_pred)
RMSE = sqrt(MSE)
print(RMSE)

2471.56474471606